*{
    color: #147614
}


/* Atributo COMIENZA CON */
section[class^="Sec"]{
    background: skyblue;
    color: aliceblue
}

/* Atributo CONTIENE con */
p[title*="Uno"]{
    color: #ffff00;
    text-align: center
}


/* Atributo Seprado por espacio */
p[title~="dos"]{
    text-align: right
}
