*{
    background: #f8f8c0;
}


/* hermano general */
div~:{
    color:aquamarine;
    background: #ff0027;
}


/* Hermano Adyacente */
p+p{
    background: aliceblue
}


/* Selector hijo */
section>article>div>p{
    background: #d6d8ff
}


/* Selectores de id */
#segunda-division{
    color: #0d9b6b
}

#spam1{
    background: #df6824
}



